Repository GovHub-br/data-application-gov-hub: changes, and which GitLab CI jobs are due for each by the changed paths.
All: scan, docker-build-and-push

scan:
  stage: test
  image: sonarsource/sonar-scanner-cli:latest
  script:
  - sonar-scanner -Dsonar.projectKey=$SONAR_PROJECT_KEY -Dsonar.organization=$SONAR_ORG -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN -Dsonar.exclusions=**/.cache/poetry/**/*,**/.venv/**/*,**/.cache/pip/**/*

docker-build-and-push:
  stage: build
  image: docker:20.10.16
  services:
  - docker:20.10.16-dind
  script:
  - docker login -u $CI_REGISTRY_USER -p $CI_REGISTRY_PASSWORD $CI_REGISTRY
  - docker build -t $IMAGE_TAG .
  - docker push $IMAGE_TAG

Fixing CI tests
  .gitignore
  Makefile
  airflow_lappis/dags/data_ingest/ibge/mulheres_ingest_dag.py
Due: none

Fixing CI tests
  .github/actions/setup-poetry/action.yml
  .github/workflows/main.yaml
  sonar-project.properties
Due: none

Fixing sonarqube
  .github/workflows/main.yaml
  sonar-project.properties
Due: none

Fixing CI
  .github/workflows/main.yaml
Due: none

Fixing CI
  .github/actions/setup-poetry/action.yml
Due: none

Fixing sonarqube
  airflow_lappis/dags/data_ingest/test_source/test_ingest_dag.py
  airflow_lappis/dags/homologation/test_source/test_homologation_dag.py
  tests/integration/test_landing_zone_flow.py
  tests/unit/test_cliente_storage.py
Due: none

Fixing sonarqube
  tests/unit/test_ingest_dag_helpers.py
Due: none

Fixing sonarqube
  airflow_lappis/plugins/cliente_storage.py
  local.env
  tests/unit/test_cliente_storage.py
Due: none

Fixing sonarqube
  airflow_lappis/plugins/cliente_storage.py
Due: none

feat: dbt silver sgac teds siafi
  airflow_lappis/dags/dbt/ipea/models/sistema_sisbolsas/silver/sgac_teds_siafi.sql
Due: none

feat(ibge): pipeline FTP Censo 2022 quilombolas alfabetização e domicílios
  airflow_lappis/dags/data_ingest/ibge/quilombolas_alfabetizacao_ingest_dag.py
  airflow_lappis/dags/dbt/ipea/models/sources.yml
  airflow_lappis/helpers/quilombolas_parser.py
  airflow_lappis/plugins/cliente_ibge.py
  airflow_lappis/plugins/cliente_postgres.py
  pyproject.toml
  tests/test_quilombolas_parser.py
Due: scan, docker-build-and-push

fix(ibge): corrige ReDoS no parser quilombolas e PK/upsert no Postgres
  airflow_lappis/helpers/quilombolas_parser.py
  tests/test_quilombolas_parser.py
Due: scan

feat: Implementa workflow de automacao de auto-atribuicao
  .github/workflows/auto-assign.yaml
Due: none

feat: Alterando auto-assign workflow para checar label e permissao do usuario
  .github/workflows/auto-assign.yaml
Due: none

feat(tests): adiciona teste para plugin cliente_base
  airflow_lappis/plugins/cliente_base.py
  tests/conftest.py
  tests/test_cliente_base/test_request.py
Due: scan

feat(make): automatiza geração do arquivo de cobertura dos testes
  Makefile
  pyproject.toml
Due: docker-build-and-push

fix: altera protocolo http para htpps no teste do cliente_base
  tests/test_cliente_base/test_request.py
Due: none

chore: atualiza nome da pasta e arquivo do teste de plugins e cliente base
  tests/test_plugins/test_cliente_base.py
Due: none

fix(tests): inclui helpers no sys.path do conftest
  tests/conftest.py
Due: scan

style: ruff line too long fix
  airflow_lappis/dags/data_ingest/dados_abertos/logo_partidos_dag.py
  airflow_lappis/dags/data_ingest/dados_abertos/parlamentares_controle_historico_dag.py
  airflow_lappis/dags/data_ingest/dados_abertos/periodo_legislatura_ingest_dag.py
  airflow_lappis/dags/data_ingest/dados_abertos/senadores_ingest_dag.py
  airflow_lappis/dags/data_ingest/sgac/projetos_sgac_ingest_dag.py
  airflow_lappis/dags/data_ingest/siconv/sincov_ingest_dag.py
  airflow_lappis/dags/data_ingest/tesouro_gerencial/bolsas_pagas_ingest_dag.py
  airflow_lappis/dags/data_ingest/tesouro_gerencial/mcid/dotacao_execucao_outras_fontes_mcid_ingest_dag.py
  airflow_lappis/dags/data_ingest/tesouro_gerencial/mcid/orcamento_mcid_por_acao_ingest_dag.py
  airflow_lappis/dags/data_ingest/tesouro_gerencial/mir/nc_tesouro_ingest_2025_mir_dag.py
  airflow_lappis/dags/data_ingest/tesouro_gerencial/mir/nc_tesouro_ingest_2026_mir_dag.py
  airflow_lappis/dags/data_ingest/tesouro_gerencial/mir/programacao_acao_ptres_ingest_dag.py
  airflow_lappis/dags/data_ingest/transfere_gov/mir/notas_de_credito_ingest_mir_dag.py
  airflow_lappis/dags/data_ingest/transfere_gov/mir/plano_acao_ingest_mir_dag.py
  airflow_lappis/dags/data_ingest/transfere_gov/mir/programa_financeira_ingest_mir_dag.py
  airflow_lappis/dags/data_ingest/transfere_gov/mir/programas_ingest_mir_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/documentos_habeis_especias_ingest_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/empenhos_especiais_ingest_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/executor_especial_ingest_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/finalidade_especial_ingest_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/historico_pagamentos_especiais_ingest_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/metas_especiais_ingest_dag.py
  airflow_lappis/dags/data_ingest/transferegov_emendas/ordem_bancaria_especial_ingest_dag.py
  airflow_lappis/dags/dbt/mir/cosmos_dag.py
  airflow_lappis/helpers/quilombolas_parser.py
  airflow_lappis/plugins/cliente_email.py
  airflow_lappis/plugins/cliente_ibge.py
  airflow_lappis/plugins/cliente_partidos.py
  airflow_lappis/plugins/cliente_postgres.py
  airflow_lappis/plugins/cliente_senadores.py
  airflow_lappis/plugins/cliente_siconv.py
  airflow_lappis/plugins/cliente_sqlserver.py
  airflow_lappis/plugins/cliente_ted.py
  airflow_lappis/plugins/cliente_transferegov_emendas.py
  airflow_lappis/plugins/tabelas_siconv.py
Due: none

fix: noqa C901 ignora complexidade ruff
  airflow_lappis/dags/data_ingest/dados_abertos/parlamentares_controle_historico_dag.py
  airflow_lappis/dags/data_ingest/dados_abertos/senadores_ingest_dag.py
  airflow_lappis/dags/data_ingest/siconv/sincov_ingest_dag.py
Due: none

feat: Adiciona cliente MRV e testes unitários com mocks
  airflow_lappis/plugins/cliente_mrv.py
  tests/test_cliente_mrv.py
Due: scan

Test: implementa testes unitarios para cliente_senadores
  tests/test_plugins/test_cliente_senadores.py
Due: none

feat: arquitetura para dbt adapter
  airflow_lappis/dags/dbt/ipea/cosmos_dag.py
  airflow_lappis/dags/dbt/ipea/dbt_project.yml
  airflow_lappis/dags/dbt/ipea/macros/create_udfs.sql
  airflow_lappis/dags/dbt/ipea/macros/get_custom_schema.sql
  airflow_lappis/dags/dbt/ipea/macros/storage.sql
  airflow_lappis/dags/dbt/ipea/models/test_source/bronze/entities_bronze.sql
  airflow_lappis/dags/dbt/ipea/models/test_source/silver/entities_summary.sql
  airflow_lappis/dags/dbt/ipea/profiles.yml
  airflow_lappis/plugins/cliente_storage.py
  docker-compose.yml
  local.env
  pyproject.toml
  requirements.txt
  tests/integration/test_landing_zone_flow.py
  tests/unit/test_cliente_storage.py
Due: docker-build-and-push

feat: add ibge_pim_pf_brasil_ingest_dag and update README
  .python-version
  airflow_lappis/dags/data_ingest/ibge/README.md
  airflow_lappis/dags/data_ingest/ibge/ibge_pim_pf_brasil_ingest_dag.py
  local.env
Due: none

feat:adiciona testes unitários clientes_deputados
  tests/test_cliente_deputados.py
Due: scan

test: Adiciona testes unitários para cliente_contratos.py
  tests/test_cliente_contratos.py
Due: scan

feat: adiciona cliente bacen e testes unitários
  airflow_lappis/plugins/cliente_bacen.py
  tests/test_plugins/test_cliente_bacen.py
Due: none

feat: adiciona cliente abecip e testes unitários
  airflow_lappis/plugins/cliente_abecip.py
  tests/test_plugins/test_cliente_abecip.py
Due: none

docs: subindo dag
  airflow_lappis/dags/data_ingest/ibge/unidades_conservacao_ingest_dag.py
  airflow_lappis/dags/dbt/ipea/models/sources.yml
Due: none

feat: adiciona pipeline dbt para meta 5 de agentes (bronze a gold)
  airflow_lappis/dags/dbt/cultura/.user.yml
  airflow_lappis/dags/dbt/cultura/cosmos_dag.py
  airflow_lappis/dags/dbt/cultura/dbt_project.yml
  airflow_lappis/dags/dbt/cultura/descriptions.yml
  airflow_lappis/dags/dbt/cultura/macros/create_udfs.sql
  airflow_lappis/dags/dbt/cultura/macros/data_quality/row_count_match.sql
  airflow_lappis/dags/dbt/cultura/macros/data_quality/verificacao_tipagem.sql
  airflow_lappis/dags/dbt/cultura/macros/get_custom_schema.sql
  airflow_lappis/dags/dbt/cultura/macros/metadata/generate_metadata.sql
  airflow_lappis/dags/dbt/cultura/macros/parse_financial_value.sql
  airflow_lappis/dags/dbt/cultura/macros/schema.yml
  airflow_lappis/dags/dbt/cultura/macros/udfs/f_format_nc.sql
  airflow_lappis/dags/dbt/cultura/macros/udfs/f_parse_dates.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/agentes_coletivos.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/agentes_pf.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/agentes_pj.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/schema.yml
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/gold/primeiro_acesso_resumo.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/gold/schema.yml
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/silver/perfil_agentes_historico.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/silver/schema.yml
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/views/identificadores_agentes.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/views/schema.yml
  airflow_lappis/dags/dbt/cultura/models/metadata/models_metadata.sql
  airflow_lappis/dags/dbt/cultura/models/metadata/schema.yml
  airflow_lappis/dags/dbt/cultura/models/sources.yml
  airflow_lappis/dags/dbt/cultura/profiles.yml
Due: none

test: adiciona cliente_fgv.py e testes unitarios
  airflow_lappis/plugins/cliente_fgv.py
  tests/test_plugins/test_cliente_fgv.py
Due: none

feat(analytics): unifica dados de proponentes LPG e PNAB para Meta 5
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/agentes_coletivos.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/agentes_pf.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/agentes_pj.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/lpg_agentes_coletivos.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/lpg_agentes_pf.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/lpg_agentes_pj.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/pnab_agentes_pf.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/pnab_agentes_pj.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/bronze/schema.yml
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/gold/primeiro_acesso_resumo.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/gold/schema.yml
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/silver/perfil_agentes_historico.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/silver/schema.yml
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/views/identificadores_agentes.sql
  airflow_lappis/dags/dbt/cultura/models/agentes_dbt/views/schema.yml
  airflow_lappis/dags/dbt/cultura/models/sources.yml
  airflow_lappis/dags/dbt/cultura/profiles.yml
  airflow_lappis/plugins/extracao_planilhas.py
Due: none

refactor: refatora env.example para conexão com o banco para o dbt
  .env.example
Due: none

fix(cosmos): adiciona fallback nas env_vars do profiles.yml para corrigir parsing da DAG
  airflow_lappis/dags/dbt/cultura/cosmos_dag.py
  airflow_lappis/dags/dbt/cultura/profiles.yml
Due: none

feat(tests): adiciona testes unitários para cliente_ted
  airflow_lappis/plugins/cliente_ted.py
  tests/test_plugins/test_cliente_ted.py
Due: none

feat(tests): adiciona test cliente siorg
  tests/test_foo.py
  tests/test_helpers/test_quilombolas_parser.py
  tests/test_plugins/test_cliente_siorg.py
Due: scan

Path conditions:
  scan: any of: dags/**, plugins/**, src/**, tests/**
  docker-build-and-push: any of: Dockerfile, requirements.txt, pyproject.toml
